.panel {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    border: 1px solid var(--accent-redesigned);
    flex-direction: column;
    display: flex;
    padding: 15px;
}
