.starRating {
    .starIcon {
        cursor: pointer;
    }
    .normal {
        fill: none;
    }
    .hovered {
        fill: var(--primary-color);
    }
    .selected {
        cursor: auto;
    }
}

.starRatingRedesigned {
    .starIcon {
        cursor: pointer;
    }
    .normal {
        fill: none;
    }
    .hovered {
        fill: var(--icon-redesigned);
    }
    .selected {
        cursor: auto;
    }
}
