.app.dark {
    --bg-color: #090949;
    --invert-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --invert-primary-color: #041c65;
    --invert-secondary-color: #0755ff;
}

:root {
    --bg-color: #090949;
    --invert-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --invert-primary-color: #041c65;
    --invert-secondary-color: #0755ff;
}
