.app_orange_theme {
  --bg-color: #faf4fb;
  --invert-bg-color: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --invert-primary-color: #dbd5dc;
  --invert-secondary-color: #faf4fb;
}

:root {
  --bg-color: #faf4fb;
  --invert-bg-color: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --invert-primary-color: #dbd5dc;
  --invert-secondary-color: #faf4fb;
}
