.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    font-weight: 600;
    display: flex;
    align-items: center;

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            color: 2px solid var(--accent-redesigned);
        }
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-line-xl);
}

.m {
    font-size: var(--font-line-m-redesigned);
}

.l {
    font-size: var(--font-line-l-redesigned);
}

.xl {
    font-size: var(--font-line-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.filled {
    background-color: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
    color: var(--text-redesigned);
}

.addonLeft,
.addonRight {
    display: flex;
}
.addonLeft svg,
.addonRight svg {
    color: 2px solid var(--hint-redesigned);
}
.withAddon {
    padding: 0 8px;
}
