.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--invert-bg-color);
  display: flex;
  align-items: center;
  // justify-content: end;
  justify-content: space-between;
  padding: 20px;
}

.links,
.actions {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
.AppName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.flex {
  display: flex;
}
.createBtn {
  color: var(--invert-primary-color);
}
